<%- include('header') %>
<%- include('menu') %>
<div class="row">
    <div class="large-12 columns">
        <h1>Könyvek visszavétele</h1>
    </div>
</div>
<div class="row">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Elvivő neve</th>
            <th>Elérhetősége</th>
            <th>Visszahozatal ideje</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <% borrowList.forEach(function(item){ %>
        <tr>
            <td><%= item.name %></td>
            <td><%= item.contact %></td>
            <td><%= item.back %></td>
            <td><a class="btn btn-sm btn-default" href="#" onclick="handleBack('<%= item._id %>')">Visszavesz</a></td>
        </tr>
        <% }); %>

        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="visszaveszModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Könyvek visszavétele</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" method="post" action="/borrow/back">
                    <input type="hidden" name = "borrowId" id="borrowId" data-bind="value: id"/>
                    <div class="form-group">
                        <label for="kolcsonzoNeve" class="col-sm-2 control-label">Kölcsönző neve</label>
                        <div class="col-sm-10">
                            <input data-bind="value: kolcsonzoNeve" name="kolcsonzoNeve" id="kolcsonzoNeve" type="text" class="form-control" value="Elvitt Elek" placeholder="Minta Béla" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="elerhetoseg" class="col-sm-2 control-label">Kölcsönző elérhetősége</label>
                        <div class="col-sm-10">
                            <input data-bind="value: elerhetoseg" name="elerhetoseg" id="elerhetoseg" type="text" class="form-control" value="+123456789" placeholder="hello@ittelersz.hu / +1231253423" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="visszaDatum" class="col-sm-2 control-label">Visszahozatal ideje</label>
                        <div class="col-md-10">
                            <input data-bind="value: visszaDatum" name="visszaDatum" id="visszaDatum" value="2016-10-20" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="valasztas" class="col-sm-2 control-label">Könyvek kiválasztása</label>
                        <div class="col-md-10">
                            <table id="valasztas" class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Cím</th>
                                    <th>Szerkő</th>
                                    <th>Kiadás éve</th>
                                </tr>
                                </thead>
                                <tbody data-bind="foreach: resBooks">
                                <tr>
                                    <td data-bind="text: cim" ></td>
                                    <td data-bind="text: szerzo" ></td>
                                    <td data-bind="text: kiadasEve" ></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Visszavétel, minden rendben</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $("li","ul.navbar-nav").each(
            function(index,val){
                $(val).removeClass('active');
            }
    );
    $("#borrow").addClass("return");
    $('#visszaDatum').datepicker({
        format: 'yyyy-mm-dd',
        autoclose: true,
        weekStart: 1,
    });
    function handleBack(id){
        $.ajax({
            accepts: 'text/json',
            contentType: 'text/json',
            url: 'http://localhost:3000/ajax/borrow/'+id
        }).done(function(data){
            var borrowData = JSON.parse(data).borrow;
            var takenBooks = JSON.parse(data).takenBook;
            rentals.resetAll();
            rentals.setDetails(borrowData._id, borrowData.name, borrowData.contact, borrowData.back);
            $.each(takenBooks, function(count, item){
                rentals.addResBook(item.bookId._id, item.bookId.title, item.bookId.author, item.bookId.published,item._id);
            })

            $('#visszaveszModal').modal('show');
        }).error(function(error){
            alert(error);
        });
    }

    var rentals = new KoRentalBack();
    $(document).ready(function(){
        ko.applyBindings(rentals);
    });

</script>
<%- include('footer') %>