<%- include('header') %>
<%- include('menu') %>
<div class="row">
    <h1>Felhasználók kezelése</h1>
</div>

<div class="row">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Felhasználó neve</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <% allUser.forEach(function(item){ %>
        <tr>
            <td><%= item.name %></td>
            <td><a class="btn btn-sm btn-default" href="#" onclick="modifUser('<%= item._id %>')">Módosít</a></td>
        </tr>
        <% }); %>
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="felhasznalo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalHeader">Új fehasználó / felhasználó szerkesztése</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" method="post" action="/users/save">
                    <input type="hidden" name = "userId" id="userId" data-bind="value: id"/>
                    <div class="form-group">
                        <label for="name" class="col-sm-3 control-label">Felhasználónév</label>
                        <div class="col-sm-6">
                            <input data-bind="value: name" name="name" id="name" type="text" class="form-control" placeholder="Minta Béla" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-3 control-label">Jelszó</label>
                        <div class="col-sm-6">
                            <input data-bind="value: password" name="password" id="password" type="password" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-6">
                            <button type="submit" class="btn btn-primary">Hozzáad / módosít</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $("li","ul.navbar-nav").each(
            function(index,val){
                $(val).removeClass('active');
            }
    );
    $("#userEdit").addClass("return");
    $('#visszaDatum').datepicker({
        format: 'yyyy-mm-dd',
        autoclose: true,
        weekStart: 1,
    });

    function modifUser(id){
        $.ajax({
            accepts: 'text/json',
            contentType: 'text/json',
            url: 'http://localhost:3000/ajax/user/'+id
        }).done(function(data){
            var userData = JSON.parse(data).user;
            user.setUser(userData._id, userData.name, userData.password);
            $('#felhasznalo').modal('show');
        }).error(function(error){
            alert(error);
        });
    }

    var user = new KoUser();
    $(document).ready(function(){
        ko.applyBindings(user);
    });
</script>
<%- include('footer') %>